@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');


.darkblue-background {
  background-color: hsl(229, 31%, 21%);
}
.white-background {
  background-color: #ffffff;
}
.white-fill {
  fill: white;
}
.darkblue-fill {
  fill: hsl(229, 31%, 21%);
}
.dropdown{
  position: absolute;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
  height: 0;
  width: 0;
}
.selected{
  visibility: visible;
  opacity: 1;
}